name: Trigger Workflow Check
on:
  schedule:
    - cron: '0 0 * * *'  # Every day at 00:00 UTC
    - cron: '0 6 * * *'  # Every day at 06:00 UTC
    - cron: '0 12 * * *' # Every day at 12:00 UTC
    - cron: '0 18 * * *' # Every day at 18:00 UTC

jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    timeout-minutes: 5  # Overall timeout for this job

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run workflow trigger script
      env:
        TOKEN: ${{ secrets.TOKEN }}
        REPO_OWNER: ${{ secrets.REPO_OWNER }}
        REPO_NAME: ${{ secrets.REPO_NAME }}
        WORKFLOW_ID: ${{ secrets.WORKFLOW_ID }}
      run: |
        python Main.py
        exit 0
